# Python cache files
/backend/**/__pycache__/
*.pyc

# Node dependencies
node_modules/
/frontend/node_modules/
/ssp-whisper-worker/node_modules/


# Environment variables
/backend/.env
/ssp-whisper-worker/.env

./Transcripts/

# Other common files to ignore
.DS_Store
