# requirements.txt

fastapi
uvicorn
gunicorn
python-multipart
whisper-timestamped
supabase
python-dotenv

# For CPU-only inference, which is much smaller than the default
torch --index-url https://download.pytorch.org/whl/cpu
