# requirements.txt
fastapi
uvicorn
gunicorn
python-multipart
requests
whisper-timestamped
supabase

# For CPU-only inference, which is much smaller than the default
torch --index-url https://download.pytorch.org/whl/cpu
